## 1. Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

## 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

In [ ]:
Example:

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

#### * In the context of this problem, what is a false positive?

In [ ]:
 - TPos: 
 - TNeg:
 - FPos: Predict: a dog; Actual: a cat (Type I Error)
 - FNeg:

#### * In the context of this problem, what is a false negative?

In [ ]:
 - FNeg:Predict: a cat; Actual: a dog

#### * How would you describe this model?

In [ ]:
(Type II Error)

<hr style="border: 2px solid #000000;">

## 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

#### Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("c3.csv")
data.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [14]:
data = data.rename(columns={'model1': 'pred1', 'model2': 'pred2', 'model3': 'pred3'})

In [19]:
data.head()

      actual      pred1   pred2      pred3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

<hr style="border: 2px solid #000000;">

#### * Use the predictions dataset and pandas to help answer the following questions:

* An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [ ]:
TPos: Predict: Defect; Actual:Defect (8)
TNeg: Predict: No Defect; Actual: No Defect (182)
FPos: Predict: Defect; Actual: No Defect (2)
FNeg: Predict: No Defect; Actaul Defect (8)

In [15]:
# creating a confusion matrix
pred_1 = pd.crosstab(data.pred1, data.actual)
pred_1

actual     Defect  No Defect
pred1
Defect          8          2
No Defect       8        182

In [51]:
# precision
8 / (8+2)

0.8

In [55]:
# recall
8 / (8+8)

0.5

In [21]:
# calculating the accuaracy of the model
(data.actual == data.pred1).mean()

0.95

In [ ]:
|               | actual def | actual no def |
|:------------  |-----------:|--------------:|
| pred def      |         TP |            FP | Precision
| pred no def   |         FN |            TN |
                      Recall                   Accuracy

<hr style="border: 2px solid #000000;">

In [ ]:
TPos: Predict: Defect; Actual:Defect (9)
TNeg: Predict: No Defect; Actual: No Defect (103)
FPos: Predict: Defect; Actual: No Defect (81)
FNeg: Predict: No Defect; Actaul Defect (7)

In [16]:
# creating a confusion matrix
pred_2 = pd.crosstab(data.pred2, data.actual)
pred_2

actual     Defect  No Defect
pred2
Defect          9         81
No Defect       7        103

In [52]:
# precision
9 / (81+9)

0.1

In [54]:
# recall
9 / (9+7)

0.5625

In [23]:
# calculating the accuracy of the model
(data.actual == data.pred2).mean()

0.56

<hr style="border: 2px solid #000000;">

In [ ]:
TPos: Predict: Defect; Actual:Defect (13)
TNeg: Predict: No Defect; Actual: No Defect (98)
FPos: Predict: Defect; Actual: No Defect (86)
FNeg: Predict: No Defect; Actaul Defect (3)

In [17]:
# creating a confusion matrix
pred_3 = pd.crosstab(data.pred3, data.actual)
pred_3

actual     Defect  No Defect
pred3
Defect         13         86
No Defect       3         98

In [53]:
# precision
13 / (86+13)

0.13131313131313133

In [56]:
# recall
13 / (13+3)

0.8125

In [22]:
# calculating the accuracy of the model
(data.actual == data.pred3).mean()

0.555

### **** The model to use would be a Model 3 for Recall****

<hr style="border: 2px solid #000000;">

#### Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

### **** The model to use would be a Model 1 for Precision****

<hr style="border: 2px solid #000000;">

## 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

#### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

#### Several models have already been developed with the data, and you can find their results here.

In [127]:
data = pd.read_csv("gives_you_paws.csv")
data.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

<hr style="border: 2px solid #000000;">

#### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [128]:
# Which label (actual) appears most frequently in our dataset?
data.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [129]:
# create a new column called 'baseline_prediction'
# which is the most frequent label

data['baseline_prediction'] = 'dog'

In [130]:
data.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

<hr style="border: 2px solid #000000;">

#### * In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [131]:
# Model and baseline accuracy:
model_1_accuracy = (data.actual == data.model1).mean()
model_2_accuracy = (data.actual == data.model2).mean()
model_3_accuracy = (data.actual == data.model3).mean()
model_4_accuracy = (data.actual == data.model4).mean()
baseline_accuracy = (data.actual == data.baseline_prediction).mean()
print(f'Model 1 is {model_1_accuracy}')
print(f'Model 2 is {model_2_accuracy}')
print(f'Model 3 is {model_3_accuracy}')
print(f'Model 4 is {model_4_accuracy}')
print(f'Baseline is {baseline_accuracy}')

Model 1 is 0.8074
Model 2 is 0.6304
Model 3 is 0.5096
Model 4 is 0.7426
Baseline is 0.6508

### **** Model 1 and Model 4 is better than Baseline ****

<hr style="border: 2px solid #000000;">

In [132]:
data = data.rename(columns={'model1': 'pred1', 'model2': 'pred2', 'model3': 'pred3', 'model4': 'pred4'})

In [133]:
data.head()

  actual pred1 pred2 pred3 pred4 baseline_prediction
0    cat   cat   dog   cat   dog                 dog
1    dog   dog   cat   cat   dog                 dog
2    dog   cat   cat   cat   dog                 dog
3    dog   dog   dog   cat   dog                 dog
4    cat   cat   cat   dog   dog                 dog

#### * Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [134]:
# creating a confusion matrix
pred_1 = pd.crosstab(data.pred1, data.actual)

pred_1 = pred_1[['dog', 'cat']]
pred_1 = pred_1.reindex(index=['dog', 'cat'], columns=['dog', 'cat'])

pred_1

actual   dog   cat
pred1
dog     2614   323
cat      640  1423

In [135]:
# calculating the recall
pred_1.loc['dog', 'dog'] / (pred_1.loc['dog', 'dog'] + pred_1.loc['cat', 'dog'])

0.803318992009834

In [136]:
# calculating the precision
pred_1.loc['dog', 'dog'] / (pred_1.loc['dog', 'dog'] + pred_1.loc['dog', 'cat'])

0.8900238338440586

In [137]:
# calculating the accuracy of the model
(data.actual == data.pred1).mean()

0.8074

<hr style="border: 2px solid #000000;">

In [97]:
# creating a confusion matrix
pred_2 = pd.crosstab(data.pred2, data.actual)
pred_2

pred_2 = pred_2[['dog', 'cat']]
pred_2 = pred_2.reindex(index=['dog', 'cat'], columns=['dog', 'cat'])

pred_2

actual   dog   cat
pred2
dog     1597   191
cat     1657  1555

In [96]:
# calculating the recall
pred_2.loc['dog', 'dog'] / (pred_2.loc['dog', 'dog'] + pred_2.loc['cat', 'dog'])

0.49078057775046097

In [98]:
# calculating the precision
pred_2.loc['dog', 'dog'] / (pred_2.loc['dog', 'dog'] + pred_2.loc['dog', 'cat'])

0.8931767337807607

In [99]:
# calculating the accuracy of the model
(data.actual == data.pred2).mean()

0.6304

<hr style="border: 2px solid #000000;">

In [94]:
# creating a confusion matrix
pred_3 = pd.crosstab(data.pred3, data.actual)
pred_3

pred_3 = pred_3[['dog', 'cat']]
pred_3 = pred_3.reindex(index=['dog', 'cat'], columns=['dog', 'cat'])

pred_3

actual   dog  cat
pred3
dog     1655  853
cat     1599  893

In [100]:
# calculating the recall
pred_3.loc['dog', 'dog'] / (pred_3.loc['dog', 'dog'] + pred_3.loc['cat', 'dog'])

0.5086047940995697

In [101]:
# calculating the precision
pred_3.loc['dog', 'dog'] / (pred_3.loc['dog', 'dog'] + pred_3.loc['dog', 'cat'])

0.6598883572567783

In [102]:
# calculating the accuracy of the model
(data.actual == data.pred3).mean()

0.5096

<hr style="border: 2px solid #000000;">

In [95]:
# creating a confusion matrix
pred_4 = pd.crosstab(data.pred4, data.actual)
pred_4

pred_4 = pred_4[['dog', 'cat']]
pred_4 = pred_4.reindex(index=['dog', 'cat'], columns=['dog', 'cat'])

pred_4

actual   dog   cat
pred4
dog     3110  1143
cat      144   603

In [103]:
# calculating the recall
pred_4.loc['dog', 'dog'] / (pred_4.loc['dog', 'dog'] + pred_4.loc['cat', 'dog'])

0.9557467732022127

In [104]:
# calculating the precision
pred_4.loc['dog', 'dog'] / (pred_4.loc['dog', 'dog'] + pred_4.loc['dog', 'cat'])

0.7312485304490948

In [105]:
# calculating the accuracy of the model
(data.actual == data.pred4).mean()

0.7426

### **** Model 4 is Recall would best the best to use ****

<hr style="border: 2px solid #000000;">

#### * Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [111]:
cat_pred_1 = pd.crosstab(data.pred1, data.actual)
cat_pred_1

actual   cat   dog
pred1
cat     1423   640
dog      323  2614

In [112]:
# calculating the recall
cat_pred_1.loc['cat', 'cat'] / (cat_pred_1.loc['cat', 'cat'] + cat_pred_1.loc['cat', 'dog'])

0.6897721764420747

In [113]:
# calculating the precision
cat_pred_1.loc['cat', 'cat'] / (cat_pred_1.loc['cat', 'cat'] + cat_pred_1.loc['dog', 'cat'])

0.8150057273768614

In [114]:
# calculating the accuracy of the model
(data.actual == data.pred1).mean()

0.8074

<hr style="border: 2px solid #000000;">

In [115]:
cat_pred_2 = pd.crosstab(data.pred2, data.actual)
cat_pred_2

actual   cat   dog
pred2
cat     1555  1657
dog      191  1597

In [116]:
# calculating the recall
cat_pred_2.loc['cat', 'cat'] / (cat_pred_2.loc['cat', 'cat'] + cat_pred_2.loc['cat', 'dog'])

0.4841220423412204

In [117]:
# calculating the precision
cat_pred_2.loc['cat', 'cat'] / (cat_pred_2.loc['cat', 'cat'] + cat_pred_2.loc['dog', 'cat'])

0.8906071019473081

In [118]:
# calculating the accuracy of the model
(data.actual == data.pred3).mean()

0.5096

<hr style="border: 2px solid #000000;">

In [119]:
cat_pred_3 = pd.crosstab(data.pred3, data.actual)
cat_pred_3

actual  cat   dog
pred3
cat     893  1599
dog     853  1655

In [120]:
# calculating the recall
cat_pred_3.loc['cat', 'cat'] / (cat_pred_3.loc['cat', 'cat'] + cat_pred_3.loc['cat', 'dog'])

0.358346709470305

In [121]:
# calculating the precision
cat_pred_3.loc['cat', 'cat'] / (cat_pred_3.loc['cat', 'cat'] + cat_pred_3.loc['dog', 'cat'])

0.5114547537227949

In [122]:
# calculating the accuracy of the model
(data.actual == data.pred3).mean()

0.5096

<hr style="border: 2px solid #000000;">

In [123]:
cat_pred_4 = pd.crosstab(data.pred4, data.actual)
cat_pred_4

actual   cat   dog
pred4
cat      603   144
dog     1143  3110

In [124]:
# calculating the recall
cat_pred_4.loc['cat', 'cat'] / (cat_pred_4.loc['cat', 'cat'] + cat_pred_4.loc['cat', 'dog'])

0.8072289156626506

In [125]:
# calculating the precision
cat_pred_4.loc['cat', 'cat'] / (cat_pred_4.loc['cat', 'cat'] + cat_pred_4.loc['dog', 'cat'])

0.34536082474226804

In [126]:
# calculating the accuracy of the model
(data.actual == data.pred4).mean()

0.7426

### **** Model 4 is Recall would best the best to use ****

In [163]:
data.head()

  actual pred1 pred2 pred3 pred4 baseline_prediction
0    cat   cat   dog   cat   dog                 dog
1    dog   dog   cat   cat   dog                 dog
2    dog   cat   cat   cat   dog                 dog
3    dog   dog   dog   cat   dog                 dog
4    cat   cat   cat   dog   dog                 dog

In [ ]:
list1 =  = ['model_1', 'model2', 'model_3', 'model_4']
model_dict = {}
i = 1
subset = data[data.actual == 'dog']

for item in list1:
    
    key = item
    model_accuracy = (data.actual == data[i]).mean()
    baseline_accuracy = (data.actual == data.baseline_prediction).mean()
    
    
    metric_df = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'model': model_accuracy,
    'baseline': baseline_accuracy}])
    
    model_recall = (subset.actual == subset.pred[i]).mean()
    baseline_recall = (subset.actual == subset.baseline_prediction).mean()
    
 
    dict1 = pd.DataFrame({'metric': 'recall',
    'model': model_recall,
    'baseline': baseline_recall}, index=[0])

    metric_df = pd.concat([metric_df, dict1], ignore_index=True)
    
    subset = data[data.pred[i] == 'dog']
    subset.head()
    
    baseline_precision = (subset.actual == subset.baseline_prediction).mean()
    model_precision = (subset.actual == subset.pred[i]).mean()
    
    dict2 = pd.DataFrame({'metric': 'precision',
    'model': model_precision,
    'baseline': baseline_precision}, index=[0])
    
    metric_df = pd.concat([metric_df, dict2], ignore_index=True)
    
    model_dict[key] = value

In [142]:
# Model and baseline accuracy:
model_accuracy = (data.actual == data.pred1).mean()
baseline_accuracy = (data.actual == data.baseline_prediction).mean()

In [143]:
# Let's house our metrics in a df to later compare
metric_df = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'model': model_accuracy,
    'baseline': baseline_accuracy}
]
)

In [144]:
metric_df

     metric   model  baseline
0  accuracy  0.8074    0.6508

In [146]:
# Recall - calculate on subset of data
# only look at subset of actual positives (i.e actual == coffee)
subset = data[data.actual == 'dog']
subset.head()

  actual pred1 pred2 pred3 pred4 baseline_prediction
1    dog   dog   cat   cat   dog                 dog
2    dog   cat   cat   cat   dog                 dog
3    dog   dog   dog   cat   dog                 dog
5    dog   dog   dog   dog   dog                 dog
8    dog   dog   cat   dog   dog                 dog

In [147]:
# calculate recall for model and baseline
model_recall = (subset.actual == subset.pred1).mean()
baseline_recall = (subset.actual == subset.baseline_prediction).mean()

In [148]:
#Append this to the metric_df
dict1 = pd.DataFrame({'metric': 'recall',
                     'model': model_recall,
                     'baseline': baseline_recall}, index=[0])

In [149]:
metric_df = pd.concat([metric_df, dict1], ignore_index=True)

In [150]:
metric_df

     metric     model  baseline
0  accuracy  0.807400    0.6508
1    recall  0.803319    1.0000

In [155]:
# Precision: # only look at the subset where we made positive prediction
# (i.e. prediction == 'coffee')

subset = data[data.pred1 == 'dog']
subset.head()

  actual pred1 pred2 pred3 pred4 baseline_prediction
1    dog   dog   cat   cat   dog                 dog
3    dog   dog   dog   cat   dog                 dog
5    dog   dog   dog   dog   dog                 dog
7    cat   dog   cat   cat   dog                 dog
8    dog   dog   cat   dog   dog                 dog

In [157]:
baseline_precision = (subset.actual == subset.baseline_prediction).mean()
model_precision = (subset.actual == subset.pred1).mean()

In [158]:
#Append this to the metric_df
dict2 = pd.DataFrame({'metric': 'precision',
                     'model': model_precision,
                     'baseline': baseline_precision}, index=[0])

In [160]:
metric_df = pd.concat([metric_df, dict2], ignore_index=True)

In [161]:
metric_df

      metric     model  baseline
0   accuracy  0.807400  0.650800
1     recall  0.803319  1.000000
2  precision  0.890024  0.890024

<hr style="border: 2px solid #000000;">

## 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report